/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1ff;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 30px;
}
.section-title, .section-title2{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 25px;
}
/* common style end */
/* nav sectin start */
header{
    background-color: #562EFF;
    width: 100%;
    height: 9vh;
    margin-bottom: 30px;
}
nav{
    width: 870px;
    margin: 0 auto;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-1 img{
    width: 2rem;
}
.nav-1 a{
    color: white;
    text-decoration: none;
}
.nav-2{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-2 a{
    color: white;
    text-decoration: none;
}
@media screen and (min-width:577px),(max-width:992px) {
    nav{
        width: 419px;
        margin: 0 auto;
    }
}
@media screen and (min-width:993px){
    nav{
        width: 870px;
        margin: 0 auto;
    }
}
@media screen and (max-width:576px){
    header{
        
        height: 6.5vh;
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    nav{
        width: 300px;
        margin: 0 auto;
    }
    .nav-1{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .nav-1 img{
        width: 1rem;
    }
    .nav-1 a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
    .nav-2{
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .nav-2 a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
    .nav-2 img{
        width: 2rem;
    }
}
/* nav section end */

/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    gap: 20px;
}
.player img{
    width: 56px;
    height: 56px;
}
.top-player hr{
    margin: 30px 0;
    border: 1px solid #a6a2bb;
}

@media screen and (min-width:577px),(max-width:992px) {
    .players{
        grid-template-columns: repeat(2, 1fr);

    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 419px;
        padding: 10px;
    }
    .section-title{
        font-size: 16px;
        padding-left: 30px;
    }
    .player {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 10px 2rem;
    }    
    .player h3{
        font-size: 10px;
    }
    .player img{
        width: 40px;
        height: 40px;
    }

}    
@media screen and (min-width:993px) {
    .players{
        grid-template-columns: repeat(3, 1fr);
    }
    .container{
        background-color: #ffff;
        width: 870px;
        padding: 30px;
    }
    .section-title{
        font-size: 24px;
        padding-left: 30px;
    }
    .player{
        margin-bottom: 10px;
    }
    
    .player h3{
        font-size: 20px;
    }
    .player img{
        width: 54px;
        height: 54px;
    }

}  
@media screen and (max-width:576px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        padding: 10px;
    }
    .players{
        
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        margin-bottom: 10px;
    }
   
}
/* top player end */
.top-blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.blog-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    
}
.blog-1 img{
    width: 200px;

}
.blog-1 p{
    color: #a6a2bb;

}
.blog-1 span{
    color: #b9aedf;
}


@media screen and (min-width:577px),(max-width:992px){
    .top-blogs{
        
        padding-left: 15px;
    }
    .top-blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .blog-1{
        
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
        
    }
    .blog-1 img{
        width: 100px;
    
    }   
}
@media screen and (min-width:993px){
    .blog-1{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2rem;
        
    }
    .blog-1 img{
        width: 200px;
    
    }
    .blog-1 p{
        color: #a6a2bb;
    
    }
    .blog-1 span{
        color: #b9aedf;
    }
}
@media screen and (max-width:576px) {
    .top-blog{
        display: flex;
        flex-direction: column;
        
    }
}
/* blog section end */
.lates-courses{
    display: flex;
    gap: 35px;
    justify-content: center;
}
.lates-course{
    padding: 10px;
    box-shadow: #a6a2bb 5px 5px 30px 3px;
    border-radius: 10px;
    outline: #a6a2bb;
}
.lates-course img{
    width: 200px;
}

@media screen and (min-width:577px),(max-width:992px){
    .lates-courses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .lates-course-3{
        position: relative;
        top: 10px;
        left: 100px;
    }
    .lates-course{
        padding: 10px;
        box-shadow: #a6a2bb 5px 5px 30px 3px;
        border-radius: 10px;
        outline: #a6a2bb;
    }
    .lates-course img{
        width: 120px;
    }
}
@media screen and (min-width:993px){
    .lates-courses{
        display: flex;
        gap: 35px;
        justify-content: center;
    }
    .lates-course-3{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .lates-course{
        padding: 10px;
        box-shadow: #a6a2bb 5px 5px 30px 3px;
        border-radius: 10px;
        outline: #a6a2bb;
    }
    .lates-course img{
        width: 200px;
    }
}
@media screen and (max-width:576px) {
    .lates-courses{
        display: flex;
        flex-direction: column;
    }   
    .lates-course-3{
        position: relative;
        top: 0px;
        left: 0px;
    } 
}





