/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1ff;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    gap: 20px;
}
.player img{
    width: 56px;
    height: 56px;
}
.top-blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
@media screen and (max-width:800px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        padding: 10px;
    }
    .players{
        
        grid-template-columns: repeat(1, 1fr);
    }
   
}
/* top player end */
.blog-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    
}
.blog-1 img{
    width: 200px;

}
.blog-1 p{
    color: #a6a2bb;

}
.blog-1 span{
    color: #b9aedf;
}
.lates-courses{
    display: flex;
    gap: 35px;
    justify-content: center;
}
@media screen and (max-width:800px) {
    .top-blogs{
        padding-left: 15px;
    }
    .blog-1{
        
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
        
    }
    .blog-1 img{
        width: 100px;
    
    }    
}
.lates-course{
    padding: 10px;
    box-shadow: #a6a2bb 5px 5px 30px 3px;
    border-radius: 10px;
    outline: #a6a2bb;
}
.lates-course img{
    width: 200px;
}
@media screen and (max-width:800px) {
    .lates-courses{
        display: flex;
        flex-direction: column;
    }    
}




